testing.cpp
a.out

#Visual Studio files
/Debug
/.vs
MathFunctions.sln
MathFunctions.VC.db
MathFunctions.VC.VC.opendb
MathFunctions.vcxproj
MathFunctions.vcxproj.filters
ReadMe.txt

#Lib files
*.a
*.o
